
/* ----------------------------------------------------------------

	blog.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Blog
-----------------------------------------------------------------*/

.post {
	position: relative;
	margin-bottom: 0.875rem;

	&.post-no-thumbnail {
		background-color: $primary;		
		padding: 7rem 2.375rem 1.875rem;
		height: 100%;

		.post-content {
			height: 100%;

			.entry-title {
				font-size: 1.5rem;
				line-height: 2.25rem;
			}

			@include media-breakpoint-up(lg) {
				.entry-meta {
					position: absolute;
					bottom: 0;
				}
			}			
		}		
	}
}

.post-thumbnail {
	display: block;
	position: relative;
	width: 100%;
}

.post-content {
	font-family: $body-font;
	position: relative;
	margin-bottom: 1.5rem;

	.entry-title {
		color: #6e6e6e;
		font-family: $body-font;
		font-size: 1.125rem;
		font-weight: 300;
		line-height: 1.875rem;
		margin-bottom: 0;
	}

	.entry-meta {
		.post-author {
			font-size: 0.875rem;
			font-family: $body-font;	
		}

		a {
			color: #bfbfbe;
			text-decoration: none;
		}
	}
}


