
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer {
	background-color: #1c1c1c;

	hr {
		background-color: #5c5b59;
		margin: 2.5rem 0;
	}

	a {
		text-decoration: none !important;
	}
}

#footer-main {
	background-color: #1f1f1f;
	padding-top: 4rem;
	font-size: 0.685rem;
	padding-bottom: 2rem;

	@include media-breakpoint-down(sm) {
		padding: 1rem !important;
	}
}

#footer-bottom {
	padding-top: 1.375rem;
	padding-bottom: 1.375rem;
}

#copyrights {
	color: #787878;
	font-weight: 300;	
	line-height: 2;
	z-index: 1;	
	font-size: 0.875rem;

	@include media-breakpoint-down(sm) {
		font-size: 0.7rem;
	}
}
