// /* ----------------------------------------------------------------

// 	widgets.scss

// -----------------------------------------------------------------*/


// /* ----------------------------------------------------------------
// 	Widgets
// -----------------------------------------------------------------*/


// /* ----------------------------------------------------------------
// 	Add here styles for widgets. Thanks!
// -----------------------------------------------------------------*/


.widget {
	position: relative;

	p {
		font-family: $body-font;
		font-weight: 400;
		color: #363636;
		line-height: 1.3rem !important;
	}

	a {
		font-family: $body-font;
		font-weight: 400;
	}

	.widget-title {
		font-family: $body-font;
		color: #faf7fa;		
		margin-bottom: 1.375rem;
		font-weight:400;
	}	

	// Widget - Social
	&.widget-social {
		.social-icons {
			padding: 0;
			list-style: none;

			li {
				padding: 0 0.25rem;

				&:last-child {
					padding-right: 0;
				}
		
				a {
					color: #787878;		
					background-color: $third-color;
					display: inline-block;
					line-height: 1.8125rem;
					width: 2.8125rem;
					height: 2.8125rem;		
					vertical-align: middle;
					text-align: center;
					@include transition(all 0.3s ease-in-out);
		
					&:hover {
						background-color: $theme-color;
						color: $white;
					}
		
					i {
						vertical-align: top;
						line-height: 1.8125rem;
						padding: 0.5rem;
						font-size: 1.5rem;
					}
				}
			}
		}
	}



	// Widget - Links
	&.widget-links {
		h6 {
			color: #363636;
		}

		ul {
			list-style: none;
			padding: 0;

			li {
				margin-bottom: 0.5rem;

				a {
					color: #9d9d9d;
					text-decoration: none;
					font-family: $body-font;
					font-size: 1rem;

					&:hover {
						color: $theme-color;
					}
				}
			}
		}
	}

	@include media-breakpoint-down(md) {
		&.widget-links {

			.widget-content {
				justify-content: space-between;
			}

			ul {
				width: auto;
				margin: auto;
			}
		}
}

	// Widget - Payments
	&.widget-payment {
		p {
			color: #61605f;
			display: block;
			text-decoration: none;
			font-size: 0.675rem;
		}

		.payments {
			.payment-icon {
				display: inline-block;
				vertical-align: middle;
				margin-right: .5rem;
				width: 5rem;
				height: 2.5rem;
				background-color: #2e2e2e;
				padding: 0.2rem;
				background-size: 80% auto;
				background-repeat: no-repeat;
				background-position: center;
				
				@include media-breakpoint-down(sm) {
					width: 4rem !important;
				}

				@include media-breakpoint-down(md) {
					width: 5.5rem !important;
					height: 3.5rem;
				}

				&.visa {
					background-image: url(../images/payments/visa.svg);
				}

				&.paypal {
					background-image: url(../images/payments/paypal.svg);
				}

				&.express {
					background-image: url(../images/payments/express.svg);
				}

				&.mastercard {
					background-image: url(../images/payments/mastercard.svg);
				}
			}
		}
	}

	// Widget - custom html
	&.widget-custom-html {
		h2 {
			color: #363636;
			font-weight: 300;
			font-family: $body-font;
		}

		.widget-content {


			a {
				display: block;
				text-decoration: none;
				color: #504a4a;
				font-size: 1.5rem;
			}

			p {
				color: #5e5d5c;
				font-size: 1rem;

				&.h4 {
					font-size: 1.5rem;
					line-height: 1.25;
				}

				&.heading-font {
					letter-spacing: 0.1rem
				}
			}

			@include media-breakpoint-down(lg) {
				text-align: left !important;
			}
		}
	}

	// Widget - feedback
	&.widget-feedback {
		.widget-content {
			p {
				letter-spacing: 0.1rem
			}
			#widget-feedback-form {

				input {
					background-color: #f9f9f9;
					color:#d0d0d0;
				}
				
				.input-group-append {
					margin-left: -2.875rem;
				}
			}
		}
	}

	// Widget - Subscribe
	&.widget-subscribe {
		.widget-content {
			h6 {
				color:#494848;
			}
			
			span {
				background-color: #a7d7f2;
				border-radius: 1rem;
				padding-left: 0.1rem;
				padding-right: 0.1rem;
			}

			p {
				font-size: 0.75rem;
			}

			#widget-subscribe-form {
				input {
					background-color: #1c1c1c;
				}
				
				.input-group-append {
					margin-left: -2.875rem;
				}
			}
		}
		
		@include media-breakpoint-down(sm) {
			.widget-content {
				p {
					line-height: 1.5rem;
					margin-bottom: 1rem !important;
				}

				form {
					margin: auto;

					input {
						padding: 0.5rem 1.5rem;
					}

					button {
						padding: 0.8rem 1rem;
					}
				}
			}
		}
	}

	// Widget - Products
	&.widget-products {
		.widget-content {
			.product {
				display: flex;
				align-items: center;
				margin-bottom: 0.625rem;

				.product-image {
					flex: 1;
					height: 8.25rem;
					max-width: 9.75rem;
				}

				.product-details {
					flex: 1;
					padding: 0 1.25rem;					
				}

				.product-price {					
					margin-bottom: 0.625rem;
				}

				.product-title {
					a {
						color: $white;																		
					}					
				}
			}
		}
	}
}