
/*-----------------------------------------------------------------------------------

	Shortcodes: feature-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Featured Boxes
-----------------------------------------------------------------*/

.fbox {	
	display: flex;
	align-items: flex-start;
	position: relative;

	&:not(:last-child) {
		margin-bottom: 1.875rem;
	}	

	.fbox-icon {
		i {
			font-size: 1.5rem;
			color: $white;
		}
	}

	h3 {
		font-size: 1rem;
		font-weight: 300;
		line-height: 1;
	}
	
	p {
		font-size: 0.875rem;
		color: #aec49c;
		font-family: $body-font;
	}
}