.event {
    margin-bottom: 1.875rem;
    
    &.first {
        @include media-breakpoint-up(xxxl) {
            .event-date {
                left: -9.625rem;
                bottom: 3.5rem;
                top: auto;                
            }
        }                
    }

    &.last {
        margin-top: 5rem;

        @include media-breakpoint-up(lg) {
            display: flex;
            width: 43.75rem;            

            .event-thumbnail {
                flex: 1 0 auto;
                width: 45%;
            }

            .event-detail {
                padding-left: 4.375rem;
            }
        }
    }
}

.event-thumbnail {
    position: relative;
    height: 20.125rem;

    img {
        object-position: top;
    }

    .event-date {        
        color: $primary;
        font-family: $heading-font;
        font-size: 7.5rem;
        font-weight: 900;
        line-height: 1;
        position: absolute;
        left: -1.125rem;
        top: -5rem;

        @include media-breakpoint-up(sm) {
            left: -2.125rem;
        }
    }
}

.event-detail {
    position: relative;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;

    .event-title {
        color: #505050;
        font-family: $body-font;
        font-size: 1.625rem;
        font-weight: 300;        
        margin-bottom: 1rem;
    }

    p {
        color: #9a9a99;
        font-size: 1.0625rem;
        font-weight: 300;
        line-height: 2rem;
        margin-left: 1rem;
        display: block;
    }    
}

@include media-breakpoint-down(xl) {
    .piece {
        display: none;
    }
}