
.event {
    margin-bottom: 1.875rem;
}

.event-content {
    font-size: 1.5rem;

    @include media-breakpoint-down(lg) {
        margin-top: 1rem;
        margin-bottom: 4rem !important;
    }
}

.event-thumbnail {
    position: relative;

    img {
        width: 100%;
    }

    .event-date {
        position: absolute;
        font-size: 7.5rem;
        font-family: $heading-font;

        &.first {
            top: 0;
            left: -9rem;

            @include media-breakpoint-down(xl) {
                top: 0;
                left: 0;
                margin: 0 !important;
            }
        }

        &.second {
            top: 0;
            left: -3rem;

            @include media-breakpoint-down(xl) {
                top: 0;
                left: 0;
            }
        }
    }
}

.event-detail {
    position: relative;

    .event-title {
        font-size: 1.625rem;
        color: #505050;
    }

    span {
        color: #9a9a99;
        font-size: 1.0625rem;
        line-height: 2rem;
        margin-left: 1rem;
        display: block;
    }

    &.first {
        bottom: -1rem;

        .event-date {
            left: -7rem;
        }

        @include media-breakpoint-down(lg) {
            top: 0;

            .event-date {
                left: 0;
            }
        }
    }

    &.second {
        @include media-breakpoint-down(sm) {
            padding:0 !important;
        }
    }
}

@include media-breakpoint-down(xl) {
    .piece {
        display: none;
    }
}